/* Put your style information here! */
body {
    background-color:rgb(205, 179, 235);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;

}

div {
    display: inline-block;

}

h1 {
    font-weight: 400;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

ul {
    font-size: larger;
    font-weight: 500;
}

ol {
    font-size: larger;
    font-weight: 500;
}

.title {
    color: rgb(175, 232, 255);
    text-shadow: -3px 4px #294a91;
    padding: 15px; 
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.bg-main {
    background-color:rgb(31, 82, 107);
}


.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxed {
    border: 5px solid #4034ac; 
    padding: 1%;
    margin: 1%;
    background-color: rgb(255, 255, 255);
}

.smaller {
    max-width: 60%;
}

